   <!DOCTYPE html>
   <html lang="en">
   <head>
    {{>header}}
   </head>
   <body>
    {{>navbar}}

   <h1>Employee login form</h1>
       <form action="/login" method="POST">
        <div class="n">
       <input type="email" placeholder="Email" name="email" value="" autocomplete="off">
       <input type="password" placeholder="Password" name="password" value="" autocomplete="off">
       <input type="submit" value="Sign in">

        </div>
       </form>
       <p>create on account</p>
       

   </body>
   </html>


   
